[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
flask-restplus = "*"
python-dotenv = "*"
flask = "*"
beautifulsoup4 = "*"
requests = "*"
praw = "*"
redis = "*"
rq = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-cors = "*"
dotenv = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "3.6"
