[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.7.1"
flask-restplus = "*"
python-dotenv = "*"
flask = "*"
beautifulsoup4 = "*"
requests = "*"
praw = "*"
redis = "*"
rq = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-cors = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.6"
